.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18pt;
  position: relative;
  color: #7f8fa4;
}

.text {
  margin-bottom: 15px;
}