body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
  font-family: 'EquipRegular', sans-serif;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

#root {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 15px;
}

.pageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
